body {
    background-color: #e9edf1;
    margin: 0;
    margin-bottom: 75px;
    overflow-y: scroll;
}


#header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 130px;
    padding: 0px 50px;
    background-color: #e4e8f0;
}
#header-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px 10px;
    background-color: #d8dadf;
    border-radius: 15px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto; 
}
.nav-button {
    cursor: pointer;
    font-size: 2rem;
    transform-origin: 50% 30%;
    padding: 0px 10px;
    text-align: center;
    margin: auto;
    transition: 0.1s;

    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 525;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
#main {
    background-color: #c6c7ca;
    border-radius: 15px;
    transition: 0.1s;
}
#main:hover {
    background-color: #b1b2b4;
    border-radius: 15px;
    transition: 0.2s;
}
.nav-button:hover {
    background-color: #c6c7ca;
    border-radius: 15px;
    transition: 0.2s;
}
a {
    display: inline-block;
    text-decoration: none;
    color: rgb(34, 34, 34);
}
#title {
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 3.5rem;
    margin-top: auto;
    margin-bottom: auto;

    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}
#social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 136.31px;
}
.circlular-socials-container {
    display: grid;
    place-items: center;
    height: 60px;
    width: 60px;
}
.square-socials-container {
    display: grid;
    place-items: center;
    height: 60px;
    width: 60px;
}
.socials-button {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}
.circlular-socials-container:has(.socials-button:hover) {
    border-radius: 50%;
    background-color: #d0d2d8;
}
.square-socials-container:has(.socials-button:hover) {
    border-radius: 15%;
    background-color: #d0d2d8;
}
.socials-button .button-on {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}
.socials-button:hover .button-on {
    display: inline;
}
.socials-button:hover .button-off {
    display: none;
}
#background-color-circle {
    height: 45px;
    width: 45px;
    background-color: #e5eaf1;
    border-radius: 50%;
    display: inline-block;
    z-index: 60;
}
#linkedin-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 70;
}
#black-circle {
    height: 48px;
    width: 48px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    margin-top: 2px;
    margin-left: 1px;
    z-index: 60;
}
#github-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 70;
}


#content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}
#info_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #FEFEFF;
    border-radius: 15px;
    width: 60%;
    gap: 20px;
}
#intro_container {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-top: 10px;
    gap: 20px;
}
#hook_text {
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.intro_text {
    text-align: justify;
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
#data_image_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 95%;
    gap: 30px;
}
#data_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 48%;
}
.data_text {
    text-align: justify;
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
#image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 52%;
    padding-top: 10px;
}
#image {
    border: 2px solid black;
    border-radius: 8px;
    width: 100%;
}
#credentials_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.credentials {
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


#email {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;

    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
#linkedin {
    color: #275cc7;
    text-decoration: none;
}
#linkedin:hover {
    color: #275cc7;
    text-decoration: underline;
}


/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #383838;
}
::-webkit-scrollbar-thumb {
    background: #999999;
}
::-webkit-scrollbar-thumb:hover {
    background: #cecece;
    cursor: pointer;
}