body {
    background-color: #e9edf1;
    margin: 0;
    margin-bottom: 75px;
    overflow-y: scroll;
}


#header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 130px;
    padding: 0px 50px;
    background-color: #e4e8f0;
}
#header-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px 10px;
    background-color: #d8dadf;
    border-radius: 15px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto; 
}
.nav-button {
    cursor: pointer;
    font-size: 2rem;
    transform-origin: 50% 30%;
    padding: 0px 10px;
    text-align: center;
    margin: auto;
    transition: 0.1s;

    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 525;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
#main {
    background-color: #c6c7ca;
    border-radius: 15px;
    transition: 0.1s;
}
#main:hover {
    background-color: #b1b2b4;
    border-radius: 15px;
    transition: 0.2s;
}
.nav-button:hover {
    background-color: #c6c7ca;
    border-radius: 15px;
    transition: 0.2s;
}
a {
    display: inline-block;
    text-decoration: none;
    color: rgb(34, 34, 34);
}
#title {
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 3rem;
    margin-top: auto;
    margin-bottom: auto;

    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}
#social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 136.31px;
}
.circlular-socials-container {
    display: grid;
    place-items: center;
    height: 60px;
    width: 60px;
}
.square-socials-container {
    display: grid;
    place-items: center;
    height: 60px;
    width: 60px;
}
.socials-button {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}
.circlular-socials-container:has(.socials-button:hover) {
    border-radius: 50%;
    background-color: #d0d2d8;
}
.square-socials-container:has(.socials-button:hover) {
    border-radius: 15%;
    background-color: #d0d2d8;
}
.socials-button .button-on {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}
.socials-button:hover .button-on {
    display: inline;
}
.socials-button:hover .button-off {
    display: none;
}
#background-color-circle {
    height: 45px;
    width: 45px;
    background-color: #e5eaf1;
    border-radius: 50%;
    display: inline-block;
    z-index: 60;
}
#linkedin-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 70;
}
#black-circle {
    height: 48px;
    width: 48px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    margin-top: 2px;
    margin-left: 1px;
    z-index: 60;
}
#github-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 70;
}


#content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}
#info_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #FEFEFF;
    border-radius: 15px;
    width: 60%;
    gap: 10px;
}
#welcome_text {
    padding-bottom: 20px;
    font-size: 2.5rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
#text_image_container {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 50%;
    gap: 20px;
}
#text_container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    width: 50%;
    gap: 20px;
}
.text {
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
#top_right_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
#image_container {
    display: flex;
    position: relative;
    align-items: center;
    max-height: 90%;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 8px;
}
#image {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s;
}
#image:hover {
    filter: blur(8px);
    transition: 0.3s;
}
#skills_text_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 90%;
    top: 5%;
    left: 5%;
    gap: 10px;
    transition: 0.3s;
    opacity: 0;
}
#skills_text_container:hover {
    opacity: 1;
    transition: 0.3s;
}
#image:hover + #skills_text_container {
    opacity: 1;
    transition: opacity 0.3s;
}
.skills {
    color: #FEFEFF;
    font-size: 1.3rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
#skills_small {
    color: #FEFEFF;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
#credentials_text {
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#bottom_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    gap: 10px;
}
#music_text {
    width: 100%;
    text-align: justify;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
#youtube {
    color: #275cc7;
    text-decoration: none;
}
#youtube:hover {
    color: #275cc7;
    text-decoration: underline;
}
#music_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}
.music_video {
    display: block;
    border: 2px solid black;
    border-radius: 8px;
    width: 50%;
    height: 300px;
}


#email {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;

    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
#linkedin {
    color: #275cc7;
    text-decoration: none;
}
#linkedin:hover {
    color: #275cc7;
    text-decoration: underline;
}


/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #383838;
}
::-webkit-scrollbar-thumb {
    background: #999999;
}
::-webkit-scrollbar-thumb:hover {
    background: #cecece;
    cursor: pointer;
}